<?xml version="1.0"?>
<launch>
	<node pkg="rosbag" type="play" name="rosbag" args="$(find styx)../../../bags/loop_with_traffic_light.bag" required="true"/>

	<node pkg="tl_detector" type="tl_test.py" name="tl_test" output="screen" cwd="node">
		<param name="model_path" value="$(find tl_detector)../../../ssd-inception-site/frozen_inference_graph.pb" />
	</node>
</launch>
